.filterTable {
    width: 220px;
    display: flex;
    flex-direction: column;
}
.searchInput {
    width: 50%;
}

.productTable {
    padding: 5px;
}

.productTableTitles {
    display: flex;
    justify-content: space-between;
}

.marginRight {
    margin-right: 70px
}

.productTableItem {
    margin-top: 5px;
    width: 100%;
}

p {
    padding: 0;
    margin: 0;
    margin-bottom: 5px;
}

.productCategory {
    margin-bottom: 5px;
    font-weight: 600;
}

.title {
    font-weight: 600;
}

.stock {
    color: red;
}